Импорты

In [1]:
from datetime import datetime
from loader.module.generator import lag_generator
from loader.module.data_analyzer import DataAnalyzer
from loader.module.save_excel import save_to_excel
from meteostat import Point, Daily

Получаем данные из Meteostat

In [2]:
start = datetime(2015, 1, 1)
end = datetime(2018, 12, 31)

# Получаем данные только для ванкувера, работает только он
vancouver = Point(49.2497, -123.1193, 70)

data = Daily(vancouver, start, end)
data = data.fetch()

Инициализация модуля для расчёта погодных данных

In [3]:
analyzer = DataAnalyzer(data)
analyzer.get_data()

            tavg  tmin  tmax  prcp  snow   wdir  wspd   wpgt    pres  tsun
time
2015-01-01   1.4  -2.1   4.8   0.0   0.0    NaN   6.1    NaN  1027.0   NaN
2015-01-02   2.6   1.5   3.6   1.8   0.0   66.0  10.2    NaN  1020.9   NaN
2015-01-03   3.1   1.6   4.5   1.8   0.0   77.0   9.8    NaN  1024.9   NaN
2015-01-04   4.4   2.8   5.9  52.0   0.0   76.0  18.5    NaN  1019.3   NaN
2015-01-05   6.1   4.8   7.4  22.3   0.0   73.0  13.6    NaN  1020.9   NaN
...          ...   ...   ...   ...   ...    ...   ...    ...     ...   ...
2018-12-27   3.6   1.8   5.3   0.0   0.0   74.0   7.2    NaN  1027.8   NaN
2018-12-28   3.8   2.8   4.8  24.5   0.0   66.0  17.6    NaN  1025.2   NaN
2018-12-29   7.5   4.6  10.3  16.6   0.0  180.0  25.3  208.8  1013.7   NaN
2018-12-30   4.8   2.2   7.3   0.2   0.0  319.0  16.0  241.2  1021.5   NaN
2018-12-31   3.2  -0.3   6.8   0.0   0.0  110.0   6.8    NaN  1032.1   NaN

[1461 rows x 10 columns]

In [4]:
gen = lag_generator()
lag_value_1 = next(gen)
lag_value_1

1

In [5]:
analyzer.moving_average(21)
analyzer.calculate_difference()
analyzer.auto_corr(1, 7)
analyzer.find_max(3)
analyzer.find_min(3)

analyzer.get_data()

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,moving_average_21,moving_average_3,temperature_difference,moving_average_7,autocorrelation_lag_1,max_3,min_3
time,,,,,,,,,,,,,,,,,
2015-01-01,1.4,-2.1,4.8,0.0,0.0,NaN,6.1,NaN,1027.0,NaN,NaN,NaN,NaN,NaN,0.997265,NaN,NaN
2015-01-02,2.6,1.5,3.6,1.8,0.0,66.0,10.2,NaN,1020.9,NaN,NaN,NaN,NaN,NaN,0.997265,NaN,NaN
2015-01-03,3.1,1.6,4.5,1.8,0.0,77.0,9.8,NaN,1024.9,NaN,NaN,2.366667,NaN,NaN,0.997265,3.1,1.4
2015-01-04,4.4,2.8,5.9,52.0,0.0,76.0,18.5,NaN,1019.3,NaN,NaN,3.366667,1.000000,NaN,0.997265,4.4,2.6
2015-01-05,6.1,4.8,7.4,22.3,0.0,73.0,13.6,NaN,1020.9,NaN,NaN,4.533333,1.166667,NaN,0.997265,6.1,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,3.6,1.8,5.3,0.0,0.0,74.0,7.2,NaN,1027.8,NaN,6.300000,4.066667,-0.733333,4.857143,0.997265,4.3,3.6
2018-12-28,3.8,2.8,4.8,24.5,0.0,66.0,17.6,NaN,1025.2,NaN,6.376190,3.900000,-0.166667,4.800000,0.997265,4.3,3.6
2018-12-29,7.5,4.6,10.3,16.6,0.0,180.0,25.3,208.8,1013.7,NaN,6.495238,4.966667,1.066667,4.985714,0.997265,7.5,3.6
2018-12-30,4.8,2.2,7.3,0.2,0.0,319.0,16.0,241.2,1021.5,NaN,6.400000,5.366667,0.400000,4.871429,0.997265,7.5,3.8
2018-12-31,3.2,-0.3,6.8,0.0,0.0,110.0,6.8,NaN,1032.1,NaN,6.180952,5.166667,-0.200000,4.500000,0.997265,7.5,3.2

In [6]:
save_to_excel(analyzer.get_data(), "data.xlsx")

Данные успешно сохранены в data.xlsx